<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    {% block header %}
    <header><h1>Моя шапка</h1></header>
    {% endblock %} 
    
    {% block menu %}
 <nav class="menu">
   <ul>
     <li><a href="{{ url_for('about') }}">Обо мне</a></li>
     <li><a href="{{ url_for('contacts') }}">Контакты</a></li>
   </ul>
 </nav>
    {% endblock %} 
    
    {% block content %} 
    {% endblock %} 
    
    {% block footer %}
    <footer>Моя подвал</footer>
    {% endblock %}
  </body>
</html>
