<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students</title>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Second name</th>
        <th>Age</th>
        <th>Grade</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.average_score }}</td>
    </tr>

    {% endfor %}
</table>
</body>
</html>